[data-theme="light"] {
    --def-font-color: #000;
    --def-tabs-color: #FFE7D4;
    --def-background-color: #EDAF94;
    --def-logo-background-color: #EDAF94;
    --grad-color-start: #FFE7D4;
    --grad-color-end: #ea580c;
}