@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./themes/dark.css";
@import "./themes/light.css";

@media (prefers-color-scheme: dark) {
  :root {
    --def-font-color: #ccc;
    --def-tabs-color: #FFE7D4;
    --def-background-color: #333;
    --def-logo-background-color: #EDAF94;
    --grad-color-start: hsl(26deg 100% 30%);
    --grad-color-end: hsl(20deg 20% 55%);
  }
}

body {
  background-size: 400% 400%;  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}