@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #000;
  --tabs-color: #FFE7D4;
  --background-color: #EDAF94;
  --grad-color-start: #FFE7D4;
  --grad-color-end: #FFD3B6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #64BAAA;
    --background-color: #333;
  }
}

body {
  color: var(--text-color);
  background: radial-gradient(at top left, var(--grad-color-start) 0%, var(--grad-color-end) 50%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
